* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;

  display : flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  padding: 36px;
  
 
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;

}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  padding: 20px;

  width: 100%;
}

.header-img {
  height: 100%;
  margin-right: 6px;
}

.header-title {
  font-size: 1.25rem;
  margin-right: auto;

  flex: 1;
}


.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  margin-bottom: 17px;
  width: 500px;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}

.form--btn {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.meme {
  position: relative;

  width: 100%;
  max-width: 500px;
  
 
}

.meme-img {
  max-width: 100%;
  border-radius: 3px;

  
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: Impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 
       2px 2px 0 #000,
       -2px -2px 0 #000,
       2px -2px 0 #000,
       -2px 2px 0 #000,
       0 2px 0 #000,
       2px 0 0 #000,
       0 -2px 0 #000,
       -2px 0 0 #000,
       2px 2px 5px #000;
  ;
}
.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

